<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    {% if detail_person.gender == "male" %}
        <img src="/static/images/male.png" alt=""> <br>
    {%elif detail_person.gender == "female" %}
        <img src="/static/images/female.png" alt=""> <br>
    {%endif%}   

    <b>Name: </b> {{detail_person.name}} <br>
    <b>Age: </b> {{detail_person.age}} <br>
    <b>Address: </b> {{detail_person.address}} <br>
    <b>Height: </b> {{detail_person.height}} <br>
    <b>Available: </b> {{detail_person.available}} <br>
    <a href="/all-service/delete/{{ detail_person._id }}">Delete</a>
    <a href="/all-service/update/{{ detail_person._id }}">Update</a>
</body>
</html>